<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../../static/js/common_bootstrap.js"></script>
</head>
<body>
	
	<div class="container-fluid mt-2 w-50">
        <!-- 상단 검색 및 정렬 버튼 -->
        <div class="d-flex justify-content-between mb-3">
            <div class="input-group flex-grow-1 me-2 col-md-4">
                <input type="text" class="form-control" placeholder="검색어를 입력하세요">
                <button type="button" class="btn btn-primary">검색</button>
            </div>
		    <select class="form-select w-auto col-md-4" aria-label="정렬">
		        <option selected value="1">공연명↑</option>
		        <option value="2">공연명↓</option>
		        <option value="3">아이디↑</option>
		        <option value="4">아이디↓</option>
		    </select>        </div>
   </div>
   <div class="container mt-4 col-md-11 w-100">
        <!-- 게시판 테이블 -->
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>사용자ID</th>
                    <th>공연명</th>
                    <th>공연일</th>
                    <th>공연장</th>
                    <th>예매번호</th>
                    <th>예매일</th>
                    <th>좌석번호</th>
                    <th>결제금액</th>
                    <th>취소가능여부</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>example1</td>
			       	<td> 누가 죄인인가 </td>
                    <td> 2024.12.25 17:00 </td>
                    <td> A타입 </td>
                    <td> 14513 </td>
                    <td> 2024.12.25 16:35 </td>
                    <td> A01 </td>
                    <td> 11500원 </td>
                    <td class="cell-btn-center"><button type="button" class="btn btn-secondary btn-sm disabled ">확정</button></td>
                </tr>
                <tr>
                    <td>example2</td>
			       	<td> 누가 죄인인가 </td>
                    <td> 2024.12.25 17:00 </td>
                    <td> A타입 </td>
                    <td> 15151 </td>
                    <td> 2024.12.24 16:21 </td>
                    <td> B11 </td>
                    <td> 13000원 </td>
                    <td class="cell-btn-center"><button type="button" class="btn btn-primary btn-sm ">가능</button></td>
                </tr>
                <!-- 추가 행은 필요에 따라 추가 -->
            </tbody>
        </table>
    </div>
</body>
</html>