body {
	font-family: Arial, sans-serif; /* 기본 폰트 */
	background-color: #f0f0f0; /* 배경 색상: 밝은 회색 */
	display: flex; /* Flexbox를 사용하여 중앙 정렬 */
	justify-content: center; /* 가로로 중앙 정렬 */
	align-items: center; /* 세로로 중앙 정렬 */
	height: 100vh; /* 화면 전체 높이 */
	margin: 0; /* 기본 마진 제거 */
	overflow: hidden;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

label {
	font-weight: bold;
	color: #555;
}