.login-container {
    width: 100%;
    max-width: 500px;
    padding: 20px 50px 40px 50px;
    background-color: white; /* 배경색을 흰색으로 변경 */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: black; /* 글자 색을 검정색으로 변경 */
    text-align: center;
    box-sizing: border-box;
}

.logo img {
    display: block;
    margin: 0 auto;
    max-width: 70px;
    margin-bottom: 20px;
}

/* 탭 스타일 */
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-button {
    flex: 1;
    padding: 10px;
    background-color: #d3d3d3; /* 기본 회색 */
    border: none;
    cursor: pointer;
    text-align: center;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #6A2DB4; /* 다크 보라색 */
}

.tab-button.active {
    background-color: #BE97EC; /* 보라색 (활성화된 탭) */
}

hr.title-line {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ddd;
    color: black; /* 라인 색을 검정으로 변경 */
}

/* 로그인 폼 스타일 */
.login-form {
    display: none; /* 기본적으로 폼을 숨김 */
}

.login-form .form-group {
	margin-top: 25px;
    margin-bottom: 25x;
}

.login-form label {
    display: block;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    padding: 10px;
    margin-top: 40px;
    background-color: #BE97EC; /* 보라색 버튼 */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #6A2DB4; /* 다크 보라색 버튼 */
}
.error-message {
    color: red; /* 빨간 글씨 */
    font-size: 12px; /* 글자 크기 */
    display: none; /* 기본적으로 숨김 */
    margin-top: 5px; /* 입력란과 메시지 간의 간격 */
    padding-left: 85px;
    text-align: left; /* 메시지를 왼쪽 정렬 */
    white-space: nowrap;
}
/* 기본 로그인 폼 (사이트 관리자 폼) 보이기 */
#admin-form {
    display: block;
}
