.form-container {
	background-color: white;
	padding: 20px 30px;
	border: 1px solid #ddd;
	border-radius: 6px;
	width: 600px;
	margin: 100px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-title {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
	text-align: center;
}

.form-control {
	margin-top: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

.form-control:focus {
	border-color: #888;
	box-shadow: none;
}

.image-preview {
	margin-top: 10px;
	display: none;
	width: 100%;
	max-height: 300px;
	border: 1px solid #ddd;
	border-radius: 6px;
}

.btn-primary {
	background-color: #BE97EC;
	border-color: #BE97EC;
	font-size: 16px;
	padding: 8px 20px;
	border-radius: 4px;
}

.btn-primary:hover {
	background-color: #6A2DB4;
	border-color: #6A2DB4;
}

.btn-secondary {
	background-color: #b0b8bc; /* 연한 회색 */
	border-color: #b0b8bc; /* 버튼 테두리 색상 */
	font-size: 16px; /* 글자 크기 */
	padding: 8px 20px; /* 버튼 내부 여백 */
	border-radius: 4px; /* 버튼 모서리 둥글기 */
}

/* 버튼 호버 상태 */
.btn-secondary:hover {
	background-color: #408080; /* 호버 시 더 연한 회색 */
	border-color: #a0a6ab; /* 호버 시 테두리 색상 */
}

.form-footer {
	margin-top: 20px;
	text-align: right;
}

